<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="2" name="Test" parallel="classes">
        <classes>
            <class name="docker.Setup_DockerGrid"/>
            <class name="docker.ChromeTest1"/>
<!--            <class name="docker.ChromeTest2"/>-->
<!--            <class name="docker.ChromeTest3"/>-->
            <class name="docker.FirefoxTest4"/>
        </classes>
    </test>
</suite>